In [60]:
from google.colab import drive
import pandas as pd
import numpy as np

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
drive.mount('/content/gdrive')

In [5]:
df = pd.read_csv('/content/gdrive/MyDrive/Machine_learning/Datasets/User_Data.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [38]:
input = df.iloc[:, [2, 3]].values
output = df.iloc[:, -1].values

In [39]:
xtrain, xtest, ytrain, ytest = train_test_split(
        input, output, test_size = 0.20, random_state = 47)

In [40]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain) 
xtest = sc_x.transform(xtest)

In [44]:
classifier = LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=1.0, fit_intercept=True,
                                intercept_scaling=1, class_weight=None, random_state=None, solver='liblinear',
                                max_iter=500, multi_class='ovr', verbose=0, warm_start=False, n_jobs=-1, l1_ratio=None)
classifier.fit(xtrain, ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='ovr', n_jobs=-1, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
y_pred = classifier.predict(xtest)

In [84]:
num_folds = 6
seed = 77
kfold = KFold(n_splits=num_folds, random_state = seed)
results = cross_val_score(classifier, input, output, cv=kfold)
Accuracy=np.mean(abs(results))
sd= results.std()
mse=0
rmse=0
print('Average Accuracy:', Accuracy)
print('Standard Deviation:', sd)

Average Accuracy: 0.6411503090607569
Standard Deviation: 0.24221574548114527

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1539: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

In [53]:
label_map = {0 : "Not Purchased", 1 : "Purchased" }

In [54]:
target_names = ["Not Purchased", "Purchased"]
labels = list(label_map.values())
target_names, labels

(['Not Purchased', 'Purchased'], ['Not Purchased', 'Purchased'])

In [55]:
print("\n" + classification_report(ytest, y_pred, target_names=target_names, digits=3) +"\n" )

               precision    recall  f1-score   support

Not Purchased      0.885     0.979     0.929        47
    Purchased      0.964     0.818     0.885        33

     accuracy                          0.912        80
    macro avg      0.924     0.898     0.907        80
 weighted avg      0.917     0.912     0.911        80

In [58]:
cm = confusion_matrix(ytest, y_pred)
cm

array([[46,  1],
       [ 6, 27]])